<ion-content>

  <div class="login-background-image"></div>

  <div class="curvature"></div>

  <div class="form-container">

    <header>LOGIN & REGISTER</header>

    <ol>
      <li>
        <app-button-left-icon color="facebook" icon="logo-facebook" (click)="performLogin()">Facebook</app-button-left-icon>
      </li>
      <li>
        <app-button-left-icon color="medium" icon="logo-google" expand="outline" (click)="performLogin()">Google</app-button-left-icon>
      </li>
      <li>
        <app-button-left-icon color="medium" icon="md-apps" expand="outline" (click)="performLogin()">Número de Celular</app-button-left-icon>
      </li>
    </ol>

  </div>

</ion-content>
