<ion-content>

  <div class="login-background-image"></div>

  <div class="curvature"></div>

  <div class="form-container">

    <header>LOGIN & REGISTER</header>

    <ol>
      <li>
        <ion-button class="button-with-icon-left" expand="block" shape="round" color="facebook">
          <ion-icon class="to-left" name="logo-facebook"></ion-icon>
          <span>Facebook</span>
        </ion-button>
      </li>
      <li>
        <ion-button class="button-with-icon-left logo-google" expand="outline" shape="round" color="medium">
          <ion-icon name="logo-google"></ion-icon>
          <span>Google</span>
        </ion-button>
      </li>
      <li>
        <ion-button class="button-with-icon-left mobile-number" expand="outline" shape="round" color="medium">
          <ion-icon name="md-apps"></ion-icon>
          <span>Número de Celular</span>
        </ion-button>
      </li>
    </ol>

  </div>

</ion-content>
