<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>

		<ion-title>Requisição por sangue</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<section class="fields-section">

		<ion-label>Sangue para <ion-icon name="help-circle-outline"></ion-icon></ion-label>

		<ion-item class="field-item">
			<ion-label>Para quem</ion-label>
			<ion-select okText="Ok" cancelText="Cancelar" placeholder="Selecione o tipo" interface="popover">
				<ion-select-option value="a">Amigo</ion-select-option>
				<ion-select-option value="b">Familiar</ion-select-option>
				<ion-select-option value="c">Para mim</ion-select-option>
				<ion-select-option value="d">Outro</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-label>Cidade de referência <ion-icon name="help-circle-outline"></ion-icon></ion-label>

		<ion-item class="field-item">
			<ion-label>Selecione a cidade</ion-label>
			<ion-select okText="Ok" cancelText="Cancelar" placeholder="Selecione a cidade" interface="popover">
				<ion-select-option value="f">Sorocaba</ion-select-option>
				<ion-select-option value="m">Itu</ion-select-option>
			</ion-select>
		</ion-item>
	</section>

	<section class="blood-section">
		<h1>Selecione seu Tipo Sanguíneo</h1>

		<ion-radio-group>
			<div class="blood-types">
				<div class="blood-type" *ngFor="let bloodType of bloodTypes">
					<ion-radio name="blood-type" [value]="bloodType"></ion-radio>

					<div class="blood-circle">
						<span>{{ bloodType }}</span>
					</div>
				</div>
			</div>
		</ion-radio-group>

	</section>

	<section class="button-section">
		<ion-button margin-top color="rose" expand="block" shape="round" (click)="goBack()">Enviar</ion-button>
	</section>

</ion-content>
