<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="rose"></ion-back-button>
    </ion-buttons>
    <ion-title>Busque por doadores</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="rose">
        <ion-icon slot="icon-only" name="md-funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngFor="let donorInfo of [donor, donor, donor, donor, donor]">

    <app-donors-card [content]="donorInfo"></app-donors-card>

  </ng-container>

</ion-content>
