<ion-header #header>
  <ion-toolbar color="rose">
    <ion-buttons slot="start" style="visibility: hidden">
      <ion-button color="light" (click)="onClickSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>B</b> Hero</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="onClickSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content dataScroll [targetElementAttribute]="header.el">

  <section class="action-section">
      <app-card-with-action title="120966" subtitle="Doadores" buttonText="ENCONTRAR DOADOR" (onClickButtonEvent)="onClickFindDonor()"></app-card-with-action>
      <app-card-with-action title="20796" subtitle="Requisições" buttonText="VER REQUISIÇÕES" (onClickButtonEvent)="onClickSeeRequests()"></app-card-with-action>
  </section>

  <section class="feed-section">
    <ion-toolbar>
        <h1>Últimas notícias</h1>

        <ion-buttons slot="end">
            <app-button-left-icon (click)="onClickAddPost()" color="rose" expand="clear">
                <ion-icon class="post-update-icon" name="add-circle" color="rose"></ion-icon>
                <span>Adicionar Post</span>
            </app-button-left-icon>
        </ion-buttons>
    </ion-toolbar>

      <ion-card>
          <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg">

          <ion-card-header>
              <ion-card-subtitle>A ideia final</ion-card-subtitle>
              <ion-card-title>Planos para as notícias</ion-card-title>
          </ion-card-header>

          <ion-card-content>
              Quando o aplicativo for finalizado, haverá várias postagens de diversas pessoas.
          </ion-card-content>
      </ion-card>

      <ion-card>
          <img src="https://d3q93wnyp4lkf8.cloudfront.net/revista/post_images/4734/85f8532836d36358f508bc9382b80d0dfb114673.png?1508441158">

          <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Sobre o aplicativo</ion-label>
          </ion-item>

          <ion-card-content>
              A ideia é que você consiga encontrar doadores de sangue e possa combinar com eles caso você
            esteja precisando de sangue.
          </ion-card-content>
      </ion-card>

    <ion-card>
      <ion-card-content text-center>
        Acabou as notícias :/
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
